
@model OnlineQuizSystem.ViewModel.CategoryViewModel

@{
    ViewBag.Title = "Addcategory";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1 style="text-align:center;background-color:aliceblue">Add Subject Categories</h1>

@using (Html.BeginForm("Addcategory", "Category"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>Subjects</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div style="overflow:scroll">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>Subject</th>

            </tr>


        </thead>
        <tbody>
            @foreach (var item in ViewData["list"] as List<OnlineQuizSystem.Models.Category>)
            {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>


            
            </tr>
            }

        </tbody>

    </table>
</div>
