@model OnlineQuizSystem.ViewModel.QuizAnswerViewModel

@if (ViewBag.isAvabil)
{
    <style type="text/css">
        fieldset {
            font-family: sans-serif;
            border: 3px solid #42c97b;
            background: #ddd;
            border-radius: 5px;
            padding: 15px;
        }

            fieldset legend {
                background: #42c97b;
                color: #fff;
                padding: 5px 10px 10px 20px;
                font-size: 15px;
                border-radius: 5px;
                box-shadow: 0 0 0 5px #ddd;
                margin-left: 1px;
                margin-right: 10px;
            }
    </style>


    var questionId = Model.QuestionID;
    //System.Diagnostics.Debug.WriteLine(questionId);

    <input type="hidden" name="QuestionID" id="txtQuestionId" value="@questionId" />

    <fieldset>
        @* @Html.HiddenFor(model => model.QuestionID, new { @id = "txtQuestionId" }) *@
        <legend>@Model.Question_Text</legend>
        <table style="width: 100%" class="table table-condensed" , id="tblQuestionOption">
           
            @foreach (var item in @Model.ListOfQuizOption)
            {
                <tr>
                    <td>
                        @Html.RadioButtonFor(model => model.OptionID, @item.OptionName)@item.OptionName
                    </td>

                </tr>
            }
            <tr>
                <td>

                    @if (Model.IsLast)
                    {
                        <input type="button" name="Save" value="Save" class="btn btn-success" style="background-color:forestgreen" id="btnSave" onclick="SaveStudentAnswer()" />
                    }
                    else
                    {
                        <input type="button" name="Next" value="Next" class="btn btn-primary" style="background-color:#42c97b" id="btnNext" onclick="LoadQuestion()" />
                    }


                </td>
            </tr>

        </table>
    </fieldset>
}
else
{
    <h1 style="color:red"> TIME OVER </h1>
}
