
@{
    ViewBag.Title = "Added Student List";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

    //Get Current Logged in User Info Dashboard
    //OnlineQuizSystem.Models.ONLINEQUIZEntities8 db = new OnlineQuizSystem.Models.ONLINEQUIZEntities8();
    //int teacherId = Convert.ToInt32(Session["TeacherID"]);
    //var CurrentUser = db.Teachers.Find(teacherId);
}

@*@section user_name {
    @CurrentUser.Email
}*@

@section content_wrapper {

    <div class="container">




        <h6 style="color:#e03d3d;">@TempData["msg"]</h6>


        <div >
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Student ID</th>

                        <th></th>
                        <th></th>

                        <th>Student Name</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                     


                        <th>Delete Student</th>

                    </tr>

                </thead>




                <tbody>


                    @foreach (var item in ViewData["jointables"] as IEnumerable<OnlineQuizSystem.Models.AcceptStudentRequestClass>)
                    {
                    <tr>



                        <td> @item.friendrequest.studentid </td>
                        <td></td>
                        <td></td>

                        <td>@Html.ActionLink(item.addfriend.StudentName, "Studentprofileforteacher", new { id = item.addfriend.StudentName })</td>


                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                        <td></td>
                        <td></td>
                      
                        <td>
                            @using (Html.BeginForm("StudentRequestNotifictionForTeacher", "Request", FormMethod.Post))

                            {

                                <input type="hidden" value="@item.friendrequest.studentid" name="sid" />
                                <span class="glyphicon glyphicon-trash"></span>
                                <button type="submit" class="btn btn-dark" style="background-color:#e03d3d" value="1" name="delete">Delete</button>
                            }
                        </td>






                    </tr>
                    }

                </tbody>



            </table>

        </div>
    </div>

}

