@model IEnumerable<OnlineQuizSystem.ViewModel.ResultModel>
@{
    ViewBag.Title = "GetFinalResult";
}
    <script type="text/javascript">

       function preventBack() { window.history.forward(); }  
       setTimeout("preventBack()", 0);  
        window.onunload = function () { null };



    //Disable Back Button In All Browsers.
    /*function DisableBackButtonAllBrowsers() {
        window.history.forward()
    };
    DisableBackButtonAllBrowsers();
    window.onload = DisableBackButtonAllBrowsers;
    window.onpageshow = function (evts) { if (evts.persisted) DisableBackButtonAllBrowsers(); };
    window.onunload = function () { void (0) };*/

    window.onbeforeunload = function() { return "Your work will be lost."; };
    </script>

<table style="width:100%" class="table table-bordered">
    <thead>

        <tr>
            <td>
                Question
            </td>
            <td>
                Answer
            </td>
            <td>
                Answer by Student
            </td>
            <td>
                Status
            </td>
        </tr>
    </thead>

    @{int a = 0; }

    @foreach (var item in Model)
    {
<tr>
   
    <td>
       
        @item.Question

    </td>
    <td>
       
        @item.Answer
    </td>
        <td>
            @item.AnswerByStudent
        </td>
        <td>
            @if (item.Status == "Correct")
            {
                a++;

                <label style="color: green"> @item.Status</label>
            }
            else
            {
                <label style="color: red"> @item.Status</label>
            }
        </td>

    
    </tr>
    }
</table>



<h4 style="color: red">
    Score :
</h4>
<label style="color: red">@a</label>

@*<div>
        Count :  @ViewBag.Count;
    </div>*@


@*<div>
        Student Name : @ViewBag.student.StudentName;
    </div>

    <div>
        Student Email : @ViewBag.student.Email;
    </div>


    <div>
        CategoryName : @ViewBag.category.CategoryName;
    </div>*@