
@model OnlineQuizSystem.Models.Student

@{
    ViewBag.Title = "SLogin ";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Student</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="~/Content/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">


                @using (Html.BeginForm("SLogin", "StudentLogin", FormMethod.Post, new { @class = "login100-form validate-form" }))
                {
                    @*<form class="login100-form validate-form">*@
                    <span class="login100-form-title p-b-34">
                        <h2> Student Login </h2>
                    </span>



                    @Html.AntiForgeryToken()
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input100 border", @required = "1", @type = "email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "focus-input100" })
                    <br />
                    <br />
                    <br />
                    @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "input100 border", @required = "1", @type = "string" } })
                    @Html.ValidationMessageFor(model => model.ID, "", new { @class = "focus-input100" })
                    <br />
                    <br />
                    <br />
                    @Html.LabelFor(model => model.Passwords, htmlAttributes: new { @class = "" })
                    @Html.PasswordFor(model => model.Passwords, new { @class = "input100 border", @min = 8 })
                    @Html.ValidationMessageFor(model => model.Passwords, "", new { @class = "focus-input100" })
                    <br />
                    <br />
                    <br />

                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Sign in
                        </button>
                    </div>

                    <br />
                    <br />
                    <br />
                    if (ViewBag.msg != null)
                    {
                            <div class="login100-form-title p-b-34">
                                 <font color="@ViewBag.color">@ViewBag.msg</font>
                            </div>
                    }

                    <div class="w-full text-center">
                        <a class="txt3" href="@Url.Action("StudentRegister" , "SRegistration")">
                            Don't have an account? Register here
                        </a>
                        @*@Html.ActionLink("Don't have an account? Register here", "StudentRegister", "SRegistration", new { @class = "txt3" })*@
                    </div>

                }
                <div class="login100-more" style="background-image: url('/Content/image/Student-image.png'); "></div>
            </div>
        </div>
    </div>



    <div id="dropDownSelect1"></div>

    <script src="~/Content/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Content/vendor/animsition/js/animsition.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/vendor/select2/select2.min.js"></script>
    <script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
    </script>
    <script src="~/Content/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/vendor/countdowntime/countdowntime.js"></script>

</body>
</html>








@*

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </span>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                        @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Passwords, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </span>
                        @Html.PasswordFor(model => model.Passwords, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Passwords, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Log In" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

*@