
@model OnlineQuizSystem.Models.Teacher


@{
    ViewBag.Title = "StudentProfile";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

    //Get Current Logged in User Info Dashboard
    //OnlineQuizSystem.Models.ONLINEQUIZEntities8 db = new OnlineQuizSystem.Models.ONLINEQUIZEntities8();
    //int studentId = Convert.ToInt32(Session["StudentID"]);
    //var CurrentUser = db.Students.Find(studentId);
}


@*@section user_name {
    @CurrentUser.Email
}*@

@section content_wrapper {

    <div class="container">

        <h6 style="color:#42c97b;">@TempData["msg"]</h6>



        <div >
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Teacher ID</th>
                        <th></th>

                        <th></th>
                        <th></th>
                        <th></th>

                        <th></th>


                        <th>Teacher Name</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>

                        <th></th>
                        <th></th>
          
                        <th></th>
                        <th>ADD</th>


                    </tr>

                </thead>



                <tbody>
                    @foreach (var item in ViewData["list"] as List<OnlineQuizSystem.Models.Teacher>)
                    {
                    <tr>
                        @using (Html.BeginForm("TeacherListForStudentadd", "Request", FormMethod.Post))
                        {
                            <input type="hidden" value="@item.TeacherID" name="tid" />


                            <td>@item.TeacherID</td>
                            <td></td>
                            <td></td>
                            <td></td>
     
                            <td></td>
                            <td></td>

                            <td>@Html.ActionLink(item.TeacherName, "Teacherprofileforstudent", new { id = item.TeacherName })</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                            <td>
                                <span class="glyphicon glyphicon-plus"></span>
                                <button class="btn btn-dark"style="background-color:#42c97b" type="submit">Add Teacher</button>
                            </td>

                        }
                    </tr>
                    }
                </tbody>


            </table>
        </div>

    </div>












}
