@model OnlineQuizSystem.Models.Student


@*@model OnlineQuizSystem.Models.Teacher*@

@{
    ViewBag.Title = "TLogin";
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Teacher</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="~/Content/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">



                @using (Html.BeginForm("StudentRegister", "SRegistration", FormMethod.Post, new { @class = "login100-form validate-form" }))
                {

                    @Html.LabelFor(model => model.StudentName, htmlAttributes: new { @class = "" })
                    @Html.TextBoxFor(x => x.StudentName, htmlAttributes: new { @class = "input100 border" })
                    @Html.ValidationMessageFor(model => model.StudentName, "", new { @class = "focus-input100" })

                    <br />
                    <br />
                    <br />

                    @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "" })
                    @Html.TextBoxFor(x => x.ID, htmlAttributes: new { @class = "input100 border" })
                    @Html.ValidationMessageFor(model => model.ID, "", new { @class = "focus-input100" })

                    <br />
                    <br />
                    <br />

                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "" })
                    @Html.TextBoxFor(x => x.Email, htmlAttributes: new { @class = "input100 border" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "focus-input100" })

                    <br />
                    <br />
                    <br />

                    @Html.LabelFor(model => model.Passwords, htmlAttributes: new { @class = "" })
                    @Html.TextBoxFor(x => x.Passwords, htmlAttributes: new { @class = "input100 border" })
                    @Html.ValidationMessageFor(model => model.Passwords, "", new { @class = "focus-input100" })

                    <br />
                    <br />
                    <br />

                    @Html.LabelFor(model => model.Institute, htmlAttributes: new { @class = "" })
                    @Html.TextBoxFor(x => x.Institute, htmlAttributes: new { @class = "input100 border" })
                    @Html.ValidationMessageFor(model => model.Institute, "", new { @class = "focus-input100" })


                    <br />
                    <br />
                    <br />

                    @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "" })
                    @Html.TextBoxFor(x => x.Department, htmlAttributes: new { @class = "input100 border" })
                    @Html.ValidationMessageFor(model => model.Department, "", new { @class = "focus-input100" })



                    <br />
                    <br />
                    <br />



                    @Html.LabelFor(model => model.Semester, htmlAttributes: new { @class = "" })
                    @Html.TextBoxFor(x => x.Semester, htmlAttributes: new { @class = "input100 border" })
                    @Html.ValidationMessageFor(model => model.Semester, "", new { @class = "focus-input100" })


                    <br />
                    <br />
                    <br />

                    @Html.LabelFor(model => model.Contact, htmlAttributes: new { @class = "" })
                    @Html.TextBoxFor(x => x.Contact, htmlAttributes: new { @class = "input100 border" })
                    @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "focus-input100" })

                    <br />
                    <br />
                    <br />


                    <br />
                    <br />
                    <br />


                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Sign in
                        </button>
                    </div>



















                    <br />
                    <br />
                    <br />

                    <div class="w-full text-center p-t-27 p-b-239">

                    </div>

                    <div class="w-full text-center">
                        <a class="txt3" href="@Url.Action("TLogin" , "TeacherLogin")">
                            Do have an account? Login here
                        </a>

                        @* @Html.ActionLink("Don't have an account? Register here", "TeacherRegister", "TRegistration", new { @class = "txt3" })*@
                    </div>

                }


                <div class="login100-more" style="background-image: url('/Content/img/login_image.jpg'); "></div>
            </div>
        </div>
    </div>



    <div id="dropDownSelect1"></div>

    <script src="~/Content/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Content/vendor/animsition/js/animsition.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/vendor/select2/select2.min.js"></script>
    <script>
        $(".selection-2").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect1')
        });
    </script>
    <script src="~/Content/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/vendor/countdowntime/countdowntime.js"></script>

</body>
</html>





@*
@using (@Html.BeginForm("StudentRegister", "SRegistration", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h2>Students, Register here!</h2>
   

  

    



   

    <input type="submit" value="Register" class="btn btn-success btn-block" />

}
*@